<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>piskopatler.com</title>
    <link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="particles/style.css">
	<link rel="stylesheet" href="styles/home.css">
</head>
<body>
	<div class="background" id="bg1"></div>
	<div class="background" id="bg2" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzqSSavb6OmBXfN1o1Tmf826fD6S3UnnL-yw&usqp=CAU'); display: none;"></div>

	<div id="particles-js"></div>

	<div class="center">
		<div class="center-content">
			<center>
				<div class="fadeout">
					<div style="max-width: 545px; text-align: center;">
						<p class="logo">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum deserunt necessitatibus laudantium debitis, consequuntur nesciunt soluta numquam corporis delectus ex ab velit dignissimos modi, cum cupiditate nostrum nobis magni est?
							In earum fugit sed animi id saepe fuga minus, corrupti vero recusandae amet quo iste facere magni error blanditiis, qui consequuntur explicabo at repellat non aut totam asperiores aperiam! Aperiam.
							Labore in aliquam saepe eos veritatis minus numquam cumque nihil ducimus corrupti maiores, consectetur ipsum sed illo consequatur ullam magni quasi sit voluptates earum nemo. Itaque soluta cupiditate pariatur eius!
							Repellendus modi nemo, perspiciatis illo ex reprehenderit harum voluptates nihil laudantium accusamus voluptatibus optio corporis fugit cupiditate temporibus ut natus maiores quisquam. Quibusdam, nostrum. Explicabo, placeat hic. Ratione, culpa consequatur?
							Deleniti repellendus voluptatum hic nulla, cum dolorem asperiores? Fugiat excepturi id minima, vero quos quidem! Sunt voluptate earum iusto nihil animi praesentium voluptatem. Rerum molestiae, sequi sapiente facere at autem!
							Suscipit magnam corporis id aliquid vero consequuntur deserunt hic quisquam, expedita minus a iure rem tempora, nihil doloribus aspernatur vitae. Libero dolor harum voluptate, velit odit repellat expedita fugiat iure.
							Culpa temporibus explicabo et placeat iste numquam iure distinctio voluptas officiis neque mollitia provident consequatur debitis assumenda fugit, sunt omnis aliquid sed! Ipsum voluptatum corrupti velit alias labore fugit omnis.
							Architecto in nisi doloremque veniam? Facilis sed, a exercitationem esse iusto ipsa eveniet quidem quia optio commodi sint repellat sapiente nihil, vitae accusantium consectetur soluta! Dignissimos quos quas iusto impedit.
							Tempore vel nam ratione asperiores omnis cum incidunt doloribus doloremque sed! Quibusdam beatae ex ab natus autem, accusamus voluptates reprehenderit impedit itaque maxime! Labore odit repudiandae enim? Architecto, quibusdam? Laudantium?
							Vitae blanditiis cumque quibusdam eligendi, iusto iure! Nihil fuga iusto dignissimos provident, natus aspernatur molestias veritatis laborum repellat quibusdam ducimus illum enim earum qui itaque magnam quasi commodi omnis corrupti!
							Recusandae sunt beatae, dolores, molestiae hic ducimus velit corporis libero iusto tenetur cum exercitationem animi non asperiores officiis eius harum delectus assumenda totam facere culpa similique! Ducimus, voluptatum illum! Voluptatibus?
							Soluta corrupti nulla unde inventore sed rem repudiandae, enim omnis illum, quam odit expedita repellendus saepe ex dolorum qui laboriosam, ad consequuntur temporibus amet. Sed fugiat sunt deleniti autem nostrum!
							Vel dolor adipisci sint pariatur aperiam quaerat repellendus aut illum dignissimos mollitia nemo rem quidem vero, dolores qui quas debitis recusandae voluptas eius. Ea laboriosam ad sint quaerat consectetur unde.
							Architecto ratione dignissimos fugit similique earum laudantium consequuntur at, blanditiis suscipit deleniti! Quidem quisquam amet doloremque nesciunt voluptatibus perspiciatis, totam harum cum nisi modi tempore, accusantium exercitationem deserunt. Obcaecati, blanditiis?
							Expedita totam, et numquam veritatis cumque ad iste nihil. Molestiae iure, esse veniam distinctio saepe, optio modi possimus maxime beatae aut quae assumenda reiciendis dolorum neque ipsam non ratione voluptates?
							Quae incidunt repellendus quia qui possimus explicabo nostrum dolorem saepe hic recusandae laboriosam, sed enim vel. Aspernatur nam id officiis corrupti pariatur obcaecati, sapiente, placeat tempora enim veritatis, sit voluptates.
							Laudantium fugit, beatae officia perspiciatis sequi labore incidunt amet impedit adipisci enim? Asperiores, tempore. Neque iusto corporis dignissimos repellat reprehenderit perspiciatis rem excepturi velit perferendis quas nostrum, iure, itaque quaerat?
							Suscipit est enim ea dignissimos eaque commodi iste, sit consequatur, ipsum, fugit deleniti alias expedita. Esse sint ducimus a assumenda molestiae necessitatibus corporis? Tenetur consequuntur hic illo omnis asperiores ullam.
							Mollitia tenetur modi asperiores temporibus vitae nostrum totam doloremque eum veritatis illo est maiores cupiditate, corrupti vel? Debitis reiciendis at expedita facere vitae distinctio? A unde debitis illo sint doloremque.
							Illo, soluta placeat accusantium quam repudiandae temporibus eius magni architecto, facilis unde provident enim, distinctio asperiores! Optio aliquam, sapiente ullam consequuntur aliquid maxime maiores dolores exercitationem! Adipisci, distinctio. Ipsum, ducimus.
							Recusandae, quia. Rem tempora, hic ullam illum minus soluta maxime aspernatur facilis dolores blanditiis itaque ut delectus ipsum quisquam consectetur modi qui nihil, earum quibusdam at debitis similique laboriosam. Sit.
							Quae quasi dolores, tenetur facere provident vel molestias rem fugit distinctio doloremque repellat, excepturi officia quibusdam nobis suscipit laudantium soluta illo recusandae assumenda voluptate at libero nisi sint? Est, eaque!
							Hic porro, possimus eum inventore exercitationem voluptatum dolore quaerat ullam obcaecati eligendi reiciendis culpa asperiores. Eos laboriosam veritatis voluptas. Cumque rerum natus praesentium expedita. Minus sapiente laudantium et temporibus perferendis!
							Reprehenderit, blanditiis quidem, possimus labore ut, vero velit neque veniam aut iste assumenda natus! Nesciunt quas pariatur, placeat neque totam voluptate eum ab. Perspiciatis, molestiae quae! Quam, ex a? Voluptatibus!
							Nam, a velit perferendis ipsam perspiciatis eaque beatae iure. A adipisci aut cum culpa expedita repellat deserunt, eum, sint quis dolores placeat. Accusamus magnam repudiandae quae temporibus nobis nisi aperiam.
							Eveniet consequuntur natus labore vitae neque, ipsum error consectetur, totam vero ea ullam non deleniti sint hic expedita rem dolore doloremque cumque vel nam quia beatae? Optio in voluptas possimus.
							Error, assumenda necessitatibus suscipit facilis officia consectetur odio eos rem reiciendis sint, qui, nemo distinctio vitae doloribus numquam repellat. Esse pariatur excepturi dolorem quam nobis, ratione quidem aliquam totam corrupti!
							Perspiciatis culpa, vitae eos voluptas pariatur cupiditate rem sit unde reprehenderit totam natus asperiores facere temporibus porro animi libero doloremque praesentium repellendus aut et vel similique quos officia. Unde, porro.
							Optio accusantium nisi aut? Officia placeat, explicabo repellendus, quo quas vero laboriosam corporis nesciunt iste cum recusandae? Assumenda fuga distinctio, tenetur voluptas ipsa beatae eum? Ipsam quo harum nisi corporis!
							Minima omnis fuga molestias sint ut vero rem facere impedit sit quod. Quos, velit. Magnam provident quas, perspiciatis distinctio earum dolores sint nihil similique veritatis eum repellat esse et exercitationem?
							Numquam, fuga et. Voluptates aspernatur deleniti, totam hic necessitatibus rem temporibus repellendus excepturi laborum cupiditate reprehenderit ab sint error optio! Doloremque accusamus voluptatibus delectus laudantium eaque eligendi ratione consequatur quis!
							Voluptate enim, officiis fugit autem nemo voluptatum aut vero dolor nulla magnam iusto alias aliquid eveniet ducimus reiciendis sit sequi eaque mollitia eum obcaecati culpa odio? Architecto accusantium fugiat quia?
							Consequatur ab ad temporibus quae excepturi ea accusamus recusandae ducimus cupiditate aut iusto, non perferendis nam doloribus laborum error reiciendis, doloremque veritatis quod unde? Recusandae tempore modi nihil esse corporis!
							Nostrum, dolores vel. Rem est deleniti ab blanditiis magnam repellat, suscipit praesentium corrupti minima culpa voluptatibus temporibus ipsam dolores totam minus nemo omnis possimus repellendus quo. Praesentium incidunt impedit dolorum.
							Dolorum, eligendi quisquam delectus nostrum minus voluptatem voluptas cum vitae distinctio quasi animi sequi nihil praesentium consectetur repudiandae soluta incidunt quidem? Voluptas officiis maiores laboriosam minus nam consectetur eum enim.
							Ut autem perspiciatis alias soluta rerum consequatur animi placeat incidunt quibusdam magni ullam dolorum, delectus esse, pariatur saepe tenetur et cum. Rerum dignissimos veritatis optio ullam iusto ut illo quasi?
							Iure placeat magnam velit minus perferendis, facilis aspernatur hic dolores sapiente ut officiis laborum ad quam assumenda nostrum soluta, vitae accusamus repellendus nam eos voluptate! Voluptates adipisci aliquam accusamus rerum.
							Minus accusamus, saepe dolore tempora nobis repellendus molestiae itaque dicta, quam laboriosam rem est, incidunt beatae placeat quasi quis nam odio quibusdam. Omnis repellat esse rerum provident qui at in?
							Ducimus in aspernatur nostrum obcaecati vitae. Laborum, mollitia aliquam. Deserunt quibusdam molestiae magnam aliquam fugiat possimus dolorem qui delectus ad. Cupiditate tenetur nemo labore dolorem quo. Et quasi in sunt.
							Ea harum, ullam sit eligendi, debitis ab rerum quasi error illum perferendis fugit in temporibus exercitationem libero maiores laborum? Quia voluptates ea autem iure mollitia aspernatur, ab atque quaerat illum!
							Dolorem est nihil excepturi repellat consectetur ratione illo omnis quam sapiente unde, deserunt eos inventore. Ducimus, deserunt! Ut facilis nam corporis harum quidem dicta explicabo magnam velit perspiciatis impedit. At?
							Provident iure dolorum aliquam illum est saepe quas dolor ratione animi sequi, temporibus illo eius eligendi eos omnis sit sunt quaerat vel odit iste, aspernatur hic blanditiis voluptas. Optio, dolore!
							Dolorum reprehenderit incidunt quam dignissimos rerum fugiat earum, assumenda vel non debitis voluptatibus consequuntur beatae voluptas hic voluptatum aperiam! Consequuntur beatae id cumque optio tenetur eveniet sapiente dicta qui facere?
							Consectetur dicta obcaecati molestias, deleniti exercitationem, incidunt hic repellat quia temporibus quos assumenda ut at minus, voluptate pariatur ab dolorum ipsa esse quo optio cumque blanditiis quae ratione. Ad, quidem!
							Iusto repudiandae quae deleniti, ut praesentium et earum dicta odio laborum id? Ex obcaecati suscipit ut, ipsum veritatis culpa aperiam eos commodi hic id repudiandae necessitatibus at velit dolorem aspernatur?
						</p>
						<h1 class="homeheader">
							piskopatisch ja das sind wir
						</h1>
						<a href="/tools" class="button">home</a>
						<a href="/easteuros" class="button">wallofshame</a>
						<a href="/login" class="button">login</a>
						<a href="/register" class="button">register</a>
					</div>
				</div>
			</center>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>	

	<script>
		particlesJS.load('particles-js', 'particles/particles.json', function(){
			console.log('particles.json loaded.');
		});
	</script>
</body>
</html>