/* onedark theme*/
:root {
  --bg: #282C34;
  --bg2: #22252b;
  --fg: #ABB2BF;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --purple: #c678dd;
  --cyan: #56b6c2;
}

/* applied to every page*/
body{
  background-color: var(--bg);
}

nav{
    background-color: var(--bg2);
    color: var(--fg);
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h4 {
  margin-bottom: 0;
}

nav ul {
    display:flex;  
    align-items: center;
    margin-bottom: 0px;
}

nav li {
    list-style: none;
    align-self: stretch;
}

nav li a {
    color: var(--fg);
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: var(--yellow);
    text-decoration: none;
}

.inline {
    text-align: center;
}

.link-button {
    background: none;
    border: none;
    color: var(--fg);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.link-button:hover {
    background: none;
    border: none;
    color: var(--yellow);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
}

.link-button:focus {
    outline: none;
}

.link-button:active {
    color: var(--yellow);
}